.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.align-item-center {
  align-items: center;
}
.list-styling {
  list-style: none;
}
.text-decoration {
  text-decoration: none;
}

.menus {
  margin-left: 10px;
}
.justify-center {
  justify-content: center;
}
.center {
  text-align: center;
}
.justify-flex-end {
  justify-content: end;
}
